---
layout: page_title
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
---
<!--<br>-->
<center><h3>
<font color="#FFA500">无</font><font color="#2E8B57">愧</font><font color="#F08080">于</font><font color="#00CED1">心</font><font color="red"> ，</font><font color="#BA55D3">不</font><font color="#601986">惑</font><font color="#556fb5">于</font><font color="#fa1089">情</font>
</h3></center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
<!-- 分页器 -->
<div class="switchpage">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="../"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;上 • 一页</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;上 • 一页</a>
    {% endif %}
    {% else %}
    <a><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;上 • 尽头</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}">下 • 一页&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
    {% else %}
    <a>下 • 尽头&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
    {% endif %}
</div>